{% extends 'tempinherit.html' %}
{% block title%}about{%endblock title%}

{%block body%}
<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white">Hi!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4">My name is Abhinav . I am currently pursuing my b.tech from IIIT Jabalpur , and currently improving my skills in web development.<br>What you are watching now is a website created by me practicing web dev and some bootstrap , you can also submit your feedback about it.<br>HOPE YOU LIKE IT!!! </p>
      
    </div>
  </div>
</div>
{%endblock body%}